.nav-place-zone {
  width: 100%;
  height: 7.5rem;
  border-bottom: 1px solid #004a13;
  background: rgba(255, 254, 252, 0.8);
}
/* 上面以後套通用元件 替代品 */
/* 溫度計套入 */

.thermometer_container {
  margin: 0 auto;
  width: 900px;
}

.thermometer_wrap {
  height: 20px;
  position: relative;
}

.thermometer {
  position: absolute;
  height: 100%;
  left: 0;
}
.thermometer_line {
  width: 100%;
  height: 10px;
  border: 1px solid #c1c1c1;
  border-radius: 10px;
  padding: 1.6px;
}
.thermometer_move {
  height: 100%;
  width: 75%;
  background-color: #f2a200;
  border-radius: 5px;
  transition: 0.5s;
}
.order_step_title {
  margin-top: 30px;
  margin-left: 10px;
}
.order_step_title p {
  color: #333333;
  font-size: 20px;
  margin-bottom: 0;
}
.order_step_title #order_s_3 {
  font-weight: bold;
}
.order_step_number {
  margin-bottom: 40px;
  margin-left: 10px;
}
.order_step_number p {
  color: #333333;
  font-size: 24px;
}
.order_step_number #order_n_3 {
  color: #f2a200;
}

/* 溫度計 */
.title-in-credit-card {
  padding-left: 32px;
}
.title-in-atm {
  padding-left: 32px;
}
.title-in-credit-card h6 {
  color: #004a13;
}
/* atm */
.atm-remit-info p br {
  display: none;
}
.atm-remit-info p:last-child {
  margin-bottom: 30px;
}
.this-one-pc-none {
  display: none;
}
.title-in-atm h6 {
  color: #004a13;
}
.title-in-atm small {
  margin-top: 30px;
}
/* atm */

.credit-card-img {
  width: 100%;
  height: 228px;
  background: url(./img/credit-card.png) no-repeat;
  background-size: contain;
  background-position: center;
  margin: 60px 0 50px 0;
}

#demotext {
  font-size: 24px;
  top: 55%;
  left: 20%;
}
#demotextdate {
  top: 77%;
  left: 30%;
}
.mobile-need-change-padding {
  padding-left: 0;
}

.form-control3 {
  border: 1px solid #333;
  border-radius: 4px;
  height: 32px;
  width: 20%;
}
.form-control4 {
  border: 1px solid #333;
  border-radius: 4px;
  height: 32px;
  width: 72%;
}
.form-control5 {
  border: 1px solid #333;
  border-radius: 4px;
  height: 32px;
  width: 36%;
}
/* table */
.title-in-table {
  color: #004a13;
  border-bottom: 2px solid #004a13;
  border-radius: 1px;
}
.title-in-table p {
  margin-bottom: 0px;
}
.title-in-table a {
  color: #f2a200;
}
/* * atm  */
.howmuch-you-need-pay tbody tr:last-child {
  visibility: hidden;
}

.dividerline-in-table-no2 {
  width: 100%;
  height: 0.5px;
  border-radius: 1px;
  background-color: #004a13;
  margin: 20px 0;
}
/* atm */
.dividerline-in-table {
  width: 100%;
  height: 0.1px;
  border: solid 1px #004a13;
  border-radius: 1px;
  background-color: #004a13;
}

.howmuch-you-need-pay {
  width: 90%;
  border-radius: 4px;
  border: 1px solid #333;
}
.howmuch-you-need-pay tr {
  text-align: center;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}
.howmuch-you-need-pay tr th {
  width: 30%;
  font-weight: 400;
  border-right: 1px solid #333;
}
.close-features {
  color: #f2a200;
}
/* hover */
a {
  transition: 0.5s;
}
a:hover {
  opacity: 0.6;
}

/* button */
.btn-leave {
  width: 130px;
  line-height: 40px;
  color: #004a13;
  border: 1px solid #004a13;
  margin: 60px 20px 120px 20px;
  transition: 0.5s;
}
.btn-leave:hover {
  opacity: 0.6;
  color: #004a13;
}
.hope-next-step {
  background-color: #004a13;
  color: #fffefc;
}
.hope-next-step:hover {
  color: #fffefc;
}

/* 套用class */
.display-none {
  display: none;
}
@media (max-width: 576px) {
  .order_step_title {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  #order_s_1,
  #order_s_2,
  #order_s_4 {
    display: none;
  }
  .order_step_number p {
    font-size: 16px;
  }
  .thermometer_container {
    margin: 0 auto;
    width: 300px;
  }
  /* 上面溫度計 */
  .atm-remit-info p span {
    display: none;
  }
  .atm-remit-info p br {
    display: inline-block;
  }

  .title-in-table a {
    visibility: hidden;
  }
  .howmuch-you-need-pay tbody tr:last-child {
    visibility: visible;
  }

  /* card */
  .title-in-credit-card {
    padding: 36px 10px;
  }

  .title-in-credit-card h6 {
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 2px solid #004a13;
    border-radius: 1px;
  }
  .mobile-need-change-padding-all {
    padding-left: 12px;
  }
  /* atm */
  .title-in-atm {
    padding: 36px 10px;
  }
  .atm-remit-info p:last-child {
    margin-bottom: 22px;
  }
  .title-in-atm h6 {
    margin-top: 30px;
    font-size: 16px;
    line-height: 30px;
    border-bottom: 2px solid #004a13;
    border-radius: 1px;
  }
  .this-one-pc-none {
    display: block;
  }
  .credit-card-img {
    margin: 20px 0 20px 5px;
  }

  .mobile-need-change-padding {
    padding-left: 1rem;
  }
  .btn-leave {
    width: 130px;
    line-height: 40px;
    margin: 40px 10px;
  }
}
