body {
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 300;
  font: #333333;
}
p {
  line-height: 22px;
}

/* 訂單選單 */
.list_option {
  width: 100%;
  margin-bottom: 60px;
  cursor: pointer;
}
.list_option li {
  border: 1px solid #333333;
  text-align: center;
  padding: 10px;
}

/* 訂單列表標題 */

.order_list_wrap {
  width: 90%;
  margin: 0 auto;
}

.order_top_word {
  margin-bottom: 20px;
}

.order_title,
.order_title_content {
  width: 100%;
  border: 1px solid #333;
}

.order_title li {
  background-color: #fdebca;
}

.order_title li,
.order_title_content li {
  padding: 10px;
  text-align: center;
}

.order_history_detail_btn {
  height: 60px;
  border-bottom: 1px solid #848484;
  cursor: pointer;
  margin-bottom: 30px;
}

.order_history_detail_btn p {
  font-weight: 500;
  color: #f2a200;
  margin-left: 5px;
}
.order_history_detail_btn img {
  width: 20px;
}

/* <!-- 詳細區塊 --> */

.order_details_page {
  padding-bottom: 30px;
  border-bottom: 1px solid #848484;
}

.order_product_wrap {
  margin-top: 20px;
  margin-bottom: 60px;
}

.order_img_wrap {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  margin-right: 20px;
}

.p_title {
  font-weight: 500;
  margin-bottom: 10px;
}
.p_detail {
  font-size: 0.8em;
  line-height: 22px;
}

/*按鈕 */
#buy_again {
  margin-left: 20px;
}
.btn_s {
  background-color: #004a13;
  font-weight: 300;
  color: #fffefc;
  width: 108px;
  height: 38px;
  border: none;
  border-radius: 4px;
}

.m_order_history{
  display: none;
}


/* 手機 */


@media (max-width:500px){
   ::-webkit-scrollbar {
   display: none;
 }

p {
  line-height: 25px;
}


  .order_list_history{
    display: none;
  } 
  .m_order_history{
  display: block;
  width: 100vw;
  overflow-x: hidden;
}



/* 標題 */

.m_back_and_title{
  background-color: #004a13;
  height: 50px;
  padding-left: 25px;
  padding-right: 25px;
}



.m_title{
  font-size: 1rem;
  color: #fffefc;
  height: 50px;
}
.m_title img{
  height: 50px;
  width: 35px;
  margin-right: 10px;
}

.back_arrow{
  line-height: 50px;
  width: 50px;
  height: 50px;
  color: #fffefc;
  font-size:30px;
  font-weight: bold;
}

/* 手機選項蘭 */
.m_order_option_wrap{
  overflow-x: scroll;
  height: 60px;
}

.m_order_type{
  width: 525px;
  height: 100%;
}

.m_order_option{
padding: 20px;

}

.check_border{
border-bottom: 2px solid #f2a200;
}


/* 清單藍 */

.m_order_list,
.m_order_item{
  width: 100%;
}

.m_order_title{
  background-color:#fdebca;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #848484;
  border-bottom: 1px solid #848484;
}

.m_order_status{
  margin-bottom: 15px;
}

.m_order_detail{
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #848484;
}

.m_p{
  font-size: 14px;
}

.p_title{
  margin-bottom: 0;
}
.m_order_product_wrap {
  margin-top: 20px;
  margin-bottom: 20px;
}
.order_img_wrap{
  width:100px;
  height: 100px;
  margin-right: 10px;
}

.product-left{
  width: 100%;
}

.count_price{
  width: 35%;
}

.btn-wrap{
  margin-top: 30px;
}

.order_history_detail_btn{
  margin-bottom: 0;
}


}