body,
html {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Noto Sans TC", sans-serif;
  background-color: #fffefc;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 2rem;
}
h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  line-height: 22px;
}

/* 間距↓↓ */
.space_30 {
  width: 100%;
  height: 30px;
}
.space_60 {
  width: 100%;
  height: 60px;
}
.space_120 {
  width: 100%;
  height: 120px;
}
/* 間距↑↑ */

/* 綠底按鈕↓↓ */
.btn_f {
  background-color: #004a13;
  font-weight: 400;
  color: #fffefc;
  width: 108px;
  height: 38px;
  border: none;
  border-radius: 4px;
}
/* 綠底按鈕↑↑ */

/* 線按鈕↓↓ */
.btn_l {
  background-color: transparent;
  font-weight: 400;
  color: #004a13;
  width: 108px;
  height: 38px;
  border: 2px solid #004a13;
  border-radius: 4px;
}
/* 線按鈕↑↑ */
